Click==7.0
Flask==1.1.1
Flask-Compress==1.4.0
Jinja2==2.11.1
MarkupSafe==1.1.1
Werkzeug==1.0.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
dash==1.9.1
dash-core-components==1.8.1
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.1
future==0.18.2
idna==2.9
itsdangerous==1.1.0
lxml==4.5.0
numpy==1.18.1
pandas==1.0.1
pip==19.0.3
plotly==4.5.2
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
retrying==1.3.3
setuptools==40.8.0
six==1.14.0
soupsieve==2.0
urllib3==1.25.8

dask==2.1.0
decorator==4.4.0
gunicorn==19.9.0
html5lib==1.0.1
ipython-genutils==0.2.0
jupyter-core==4.5.0
nbformat==4.4.0
traitlets==4.3.2

dash-bootstrap-components==0.8.3
